<!-- <div class="chip" fxLayoutAlign="center center">
    <span>{{chipsInput.item.name}}</span>
    <span fxFlex></span>
    <button mat-icon-button aria-label="Remove Filter" (click)="removeChip()">
        <mat-icon>clear</mat-icon>
      </button>
</div> -->
<!-- <mat-chip >
     sdfsdf
     <mat-icon _ngcontent-lkl-c162="" role="img" type="button" matchipremove="" class="mat-icon notranslate mat-chip-remove mat-chip-trailing-icon material-icons mat-icon-no-color ng-star-inserted" aria-hidden="true">cancel</mat-icon>
    </mat-chip> -->
    
    
  <mat-chip >{{chipsInput.item.name}}<span class="p-l-5" (click)="removeChip()">x</span></mat-chip>  

