<div class="mat-paginator-range-actions"> 
  <button (click)="goToPrevPage()"  [disabled]="currentPage === 1" mat-icon-button="" type="button" class="mat-focus-indicator mat-paginator-navigation-previous mat-icon-button mat-button-base" aria-label="Previous page">
     <span class="mat-button-wrapper">
        <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
           <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
        </svg>
     </span>
     <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
     <div class="mat-button-focus-overlay"></div>
  </button>

  <button (click)="goToNextPage()" [disabled]="ifLastPage()"  mat-icon-button="" type="button" class="page-link page-item disabled mat-focus-indicator mat-paginator-navigation-next mat-icon-button mat-button-base" aria-label="Next page">
     <span class="mat-button-wrapper">
        <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
           <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </svg>
     </span>
     <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
     <div class="mat-button-focus-overlay"></div>
  </button>  
</div>


